<div class="container">
    <div *ngIf="owner">
        <h4 class="text-center" [routerLink]="['/']">Home</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <td>{{ owner.firstName }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ owner.lastName }}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{ owner.phoneNumber }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered" *ngIf="owner.carDtoList && owner.carDtoList.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Number of Seats</th>
                    <th>Engine Power</th>
                    <th>Transmission Type</th>
                    <th>Registration Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of owner.carDtoList">
                    <td>{{ car.name }}</td>
                    <td>{{ car.color }}</td>
                    <td>{{ car.numberOfSeats }}</td>
                    <td>{{ car.enginePower }}</td>
                    <td>{{ car.transmissionType }}</td>
                    <td>{{ car.registrationDate }}</td>
                    <td>{{ car.price }}</td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="!(owner.carDtoList && owner.carDtoList.length > 0)">No cars available for this owner.</div>
    </div>
</div>