.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 150px;

        @media (max-width: 686px) {
            margin-left: 0;
            width: 100%;
        }

        .card {
            width: 600px;

            @media (max-width: 686px) {
                width: 100%;
                border-radius: 0 !important;
            }

            .car-header {
                border-radius: 15px;

                @media (max-width: 686px) {
                    border-radius: 0;
                }

                img {
                    width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    @media (max-width: 686px) {
                        border-radius: 0;
                    }
                }

                .car-text-name {
                    margin-left: 10px;
                    font-size: 25px;
                    color: red;
                }

                .car-text-color {
                    margin-left: 10px;
                    font-size: 25px;
                    color: black;
                }
            }

            .card-body {
                margin-left: 10px;
                padding: 0;

                .car-body {

                    .car-text {

                        svg {
                            margin-right: 15px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .card-foot {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .button-wraper {}

                .content-button {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

    }
}

.navbar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    width: 400px;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    @media (max-width: 700px) {
        width: 100%;
        left: 0;

    }

    .link {
        text-align: center;
    }
}