.navbar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .navbar {
    max-width: 100%;
  }

  .link {
    text-align: center;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;


    .card {
      display: flex;
      margin: 0;
      padding: 0;
      @media (max-width: 686px) {
        border-radius: 0 !important;
      }

      .car-header {
        border-radius: 15px;

        @media (max-width: 686px) {
          border-radius: 0;
        }

        img {
          width: 100%;
          height: 250px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          @media (max-width: 686px) {
            border-radius: 0;
          }
        }

        .car-text-name,
        .car-text-color {
          display: flex;
          justify-content: center;
          margin-left: 10px;
          font-size: 25px;
        }

        .car-text-name {
          color: red;
        }

        .car-text-color {
          color: black;
        }
      }
    }
  }


  .card-body {
    margin-left: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .car-body {
      
    }

    .card-foot {
      .button-wraper {
      }
      .content-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
