<nav class="navbar navbar-light bg-light">
  <p class="link" routerLink="/">Home</p>
</nav>
<div class="wrapper">
  <div class="content-wrapper">
    <div *ngIf="car  as carData">
      <div class="row md-col">
        <div class="col-12 col-md-7 card">
          <div class="car-header">
            <img class="img-fluid" [src]="getSafeImage(carData)" alt="Car Image">
            <p class="car-text-name">{{carData.name}}</p>
            <p class="car-text-color">Color: {{carData.color}}</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-body">
            <div class="row text-center">
              <div class="car-body">
                <p class="car-text">
                  Number of seats
                  : {{carData.numberOfSeats}}</p>
                <p class="car-text">
                  Engine power :
                  {{carData.enginePower}}
                </p>
              </div>
              <p class="car-text">
                Transmission type :
                {{carData.transmissionType}}
              </p>
              <p class="car-text">
                Registration data
                {{carData.registrationDate}}
              </p>
              <p class="car-text fw-bold text-price">
                Price :
                {{carData.price}} EUR</p>
            </div>
            <div class="card-foot">
              <div class="button-wrapper">
                <div class="content-button">
                  <div class="update-button">
                    <app-car-update></app-car-update>
                  </div>
                  <div class="delete-button">
                    <app-car-delete></app-car-delete>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>





